<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/editar.css' %}">
    <title>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Mecánico</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Mecánico</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'lista_mecanicos' %}">Volver a la lista</a>
</body>
</html>
